#productName {
  margin-top: 20px;
}
header {
  margin-bottom: 10px;
}

.product-template {
  display: inline-block;
  align-items: center;
  margin-bottom: 10px;
}

#Editproduct {
  margin-top: 110px;
  font-weight: 750;
  font-size: x-large;
}

#addNewproduct {
  margin-top: 160px;
  font-weight: 800;
  font-size: xx-large;
}

#productTableBody {
  outline-style: solid;
}
