<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Game store</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0beta3/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="./../css/index.css">
    <link rel="stylesheet" href="../css/chupapi.css">

    <script src="./../model/model.js"></script>
    <script src="./../controller/header.js"></script>


    <script src="./../controller/index.js"></script>

</head>
<body>  
    <div id="_header"></div>
    <div id="cards" class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card text-bg-secondary mb-3">
                    <img src="https://th.bing.com/th/id/R.264af32b7e86534b364fb0a0143b8341?rik=gP3qGTXV25LK5A&pid=ImgRaw&r=0" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">קונסולות</h5>
                        <p class="card-text">הקונסולות האהובות על כולנו</p>
                        <a id="consoleBtn" href="#" class="btn btn-primary">לרכישה</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-bg-secondary mb-3">
                    <img src="https://assets-prd.ignimgs.com/2022/07/07/preorder-god-of-war-ragnarok-in-the-uk-1657197218312.png?width=3840" class="card-img-top" alt="...">
                    <div id="allgamesBtn" class="card-body">
                        <h5 class="card-title">משחקים לכל הפלטפורמות</h5>
                        <p class="card-text">המשחקים האהובים על כל ילד במדינה לכל הפלטפורמות</p>
                        <a id="allgamesBtn" href="#" class="btn btn-primary">לרכישה</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
